.detailroot {
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #ffffff;
    position: fixed;
    display: none;
    overflow-y: scroll;
}

.detailclose {
    position: absolute;
    top: 63px;
    left: 300px;
}

@media screen and (max-width: 50em) and (min-width: 30em){
    .detailclose {
        position: absolute;
        left: 90%;
    }

}

@media screen and (max-width: 64em) and (min-width:50em) {
    .detailclose {
        position: absolute;
        left: 90%;
    }   
}

#detailflex {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 55px;
}

.detailheader {
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #efefef;
    padding-top: 10px;
}

.detailheader strong {
    font-size: 20px;
}

.detailheader span {
    font-size: 15px;
}

.detailmessage {
    width: 50%;
    height: 40px;
    background-color: #730039;
    border: none;
    outline: none;
    border-radius: 20px;
    color: #ffffff;
    appearance: none;
    cursor: pointer;
    margin-top: 40px;
}

.detailcontentbox {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.detailitem {
    width: 50%;
    text-align: center;
    padding-top: 15px;
    height: 70px;
}

.detailitema {
    border-right: 1.5px solid #efefef;
}

.detailitemb {
    border-left: 1.5px solid #efefef;
}

.detailitem strong {
    font-size: 15px;
}

h2 {
    margin-top: 40px;
}

.detailtabel {
    width: 100%;
}

.tabelrow {
    width: 100%;
    height: 50px;
    display: flex;
    font-size: 18px;
    padding-left: 35px;
    border-bottom: 2px solid #efefef;
}

.fficon {
    margin-top: 15px;
    font-size: 30px;  
    padding-right: 10px;
    left: 47%;
    position: absolute;
}

.detailfirst {
    font-weight: bold;
    width: 50%;
    padding-left: 20px;
}

.detailsecond{
    width: 50%; 
    
}

.detailbeschreibung {
    width: 60%;
    display: flex;
    align-items: center;
    height: 100px;
    flex-direction: column;
}

.detailbutton {
    height: 40px;
    width: 200px;
    outline: none;
    border: 1px #730039 solid;
    background-color: #ffffff;
}

#detailkal {
    display: flex;
    align-items: center;
    height: 100px;
    flex-direction: column;
}

.langmacher {
    opacity: 0;
    margin-top: 100px;
}

#favoriteicon {
    font-size: 30px;
}
